@import url('https://fonts.googleapis.com/css?family=Open+Sans:600,700');
.title {
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 600;
    margin-top: 30px;
    text-align: left;
    margin-left: 15px;
  }

.newstory-bttn{
    background-color:#C9002E;
    color: white;
    padding: 15px 25px;
    text-align: center;
    height:20px;
    width:180px;
    float: right;

}

.newstory-bttn:active {
  background-color: #06b;
}

.story-card-text{
  line-height: 12px;
  text-align: left;
}


.story-card {
    margin: auto;
    padding: 5px;
    display:inline-block;
    width:31%;

}

.story-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display:block;
}

#latest-stories {
    display: block;
    justify-items: center;
    margin: 20px;
    padding:0;
    text-align: center;

} 

#latest-stories .story-card {
  width: 96%;
  border: 10px solid #C9002E;
}

#all-stories{
    display: block;
    justify-items: center;
    margin: 20px;
    padding:0;
    text-align: center;
}

#story-content {
    text-align: justify;
}

#story-content img {
    float: right;
    margin: 0 0 10px 10px;
    width: 50%;
} 

#story-wrapper{
  margin: 10px;

}

/* Forms Styling */

td{
    border-radius: 20px;
    box-sizing: border-box;
    /* height: 500px;
    padding: 50px; */
    width: 500px;
} 

input { 
    border: 1px solid black;
    height: 42px;
    width: 100vh;
    font-family: Arial, Helvetica, sans-serif;  
}

.form {
    width: 500px;
    margin-left: 15%;
  }

.subtitle {
    color:black;
    font-family:sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    margin-top: 45px;
    margin-left:10px;

  }

.input-container {
    height: 75px;

  }

.submit {
    background-color:#C9002E;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin-top: 38px;
    text-align: center;
  }
  
  .submit:active {
    background-color: #06b;
  }

  label{
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    font-size: 18px;
  }
  
  /* .form-page{
    border:white solid 2px;
    height: 100vh;
  } */

  textarea{
    border: 1px solid black;
    width: 100vh;
    font-family: Arial, Helvetica, sans-serif;
      
  }

  #profile{
    margin-left:10px;
}

