

<div class="story-card">
    
        <!-- {% if position < 5 %}
            <img src="../static/news/images/placeholder-{{ position }}.jpg">
        {% else %}
            <img src="https://picsum.photos/600">
        {% endif %} -->
        <div class="story-card-text">
            <a href="{% url 'news:story' story.id %}"><img src="{{ story.story_image }}"></a>
            <h3>{{ story.title }}</h3>
            <a href="{% url 'users:user' story.author_id %}"><h4>By:{{ story.author }}</h4></a>
            <h4>{{ story.pub_date }}</h4>
        </div>
</div>


<!-- <div class="story-card">
    <a href="{% url 'news:story' story.id %}">
        <div class="story-card-text">
            <img src="{{ story.story_image }}">
            <h3>{{ story.title }}</h3>
            <h4>{{ story.author }}</h4>
            <h4>{{ story.pub_date }}</h4>
        </div>
    </a>
</div> -->